body {
	padding-top: 4rem;
}

.sidebar {
	width: 200px;
	position: fixed;
	top: 36px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	padding: 20px;
	overflow-x: auto;
	overflow-y: auto;
	border-right: 1px solid #eee;
}

.sidebar {
	padding-left: 0;
	padding-right: 0;
}

.sidebar .nav {
	margin-bottom: 20px;
}

.sidebar .nav-item {
	width: 100%;
}

.sidebar .nav-item+.nav-item {
	margin-left: 0;
}

.sidebar .nav-link {
	border-radius: 0;
}

.placeholders {
	padding-bottom: 3rem;
}

.placeholder img {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.mainbox {
	width: 86%;
	height: 90%;
	position: absolute;
	top: 50%;
	left: 210px;
	transform: translate(5px, -50%);
}

.mainbox h1 {
	float: center;
	font-size: 40px;
	border-bottom: 6px solid #4caf50;
	padding: 13px 0;
	text-align: center;
}